<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>EVALUATE NEWS</title>
  </head>

  <body>
    <header>
      <div class="nav-l">Evaluate Articals</div>
      <div class="nav-r">Navigation</div>
    </header>
    <div class="card">
      <main>
        <section class="" form>
          <form id="urlForm">
            <label>Please Enter the URL</label>

            <input
              id="name"
              type="text"
              name="url"
              placeholder="Enter The URL"
              required
            />
            <button id="submitButton" type="submit">Submit</button>
          </form>
        </section>

        <section class="Response">
          <strong>The Results</strong>
          <div id="results"></div>
        </section>
      </main>
    </div>
    <footer>
      <p>EVALUATE NEWS all right reserved&copy; 2024</p>
    </footer>
  </body>
</html>
